@model IEnumerable<KKExpert.Model.View_Models.Invoice.InvoiceVm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfUssue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model.Count()>0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfUssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new {id = item.id}) |

                </td>
            </tr>
        }
    }
    else
    {
          <h2>No Invoices found</h2>
          <div>
            <input type="button" value="Create Invoice" onclick="location.href='@Url.Action("Create","Invoices")'" class="btn btn-default">
           </div>
    } 
</table>
